*{
    font-family: 'Josefin Sans', sans-serif;
    color:white;
}
h1{
	color: #f9004d;
}

.img{
    border: 2px solid white;
    border-radius: 50%;
}
button{
    background-color:#f9004d;
    border-radius: 8px;
    font-size: 18px;
    transition: transform .4s;
}
button:hover{
    transform: scale(1.05);
}